*
{
    margin: 0;
    padding: 0;
}



body {
    background-color: #ebd6dc;
    font-family: Arial;
}


.content
{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #d2cac0
}
.header {

    width: 1000px;
    height: 200px;
    background-color: rgb(190, 174, 170);
    margin: 0 auto;
    margin-top: 30px;
    background-image: url(https://stud.hosted.hr.nl/0910135/reserveringsite/reservering/img/Bannerv2.png);
    border-bottom: solid 5px #b86577;
    background-repeat: no-repeat;
    background-size: cover;


}



#titel
{
    margin-top: 37px;
    margin-right: 27%;
    width: 700px;
    height: 10px;
    float: right;
    font-size: 55px;
    font-family: Helvetica;
    color: white;
}

.nav {
margin-top: -39px;
width: 500px;
margin-left: auto;
margin-right: auto;
height: 39px;
font-family:  "Arial";
font-size: 15px;
border-top-left-radius:   5px;
border-top-right-radius: 5px;
border-bottom: none;
background-color: #a15868;
box-shadow: 0 0 20px rgba(0,0,0, 0.3);


}

.nav ul {

}


.nav ul li {
list-style: none;

}

.nav ul li a {
    text-decoration: none;
    float: left;
    display: block;
    width: 20%;
    color: white;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;


    }

.nav ul li a:hover {
    text-shadow: 0 0 1em white;
    color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: prop time;
    -o-transition: prop time;
    transition: prop time;
}




.introtext {
    width: 300px;
    height: 300px;
    margin: 10px auto;

}

.introtext p {

    margin-top: 10px;
    margin-bottom: 50px;

}





.openingstijden {
    margin-left: 15%;
    margin-top: 10%;
    font-family: "Arial";
}

.adresgegevens {
    margin-left: 65%;
    margin-top: -13%;
    font-family: "Arial";
    line-height: 150%;

}
.blok3 {
    width: 300px;
    position: absolute;
    left: 650px;
    top: 295px;


}

.blok4 {
    width: 300px;
    position: absolute;
    left: 100px;
    top: 295px;


}






.knop {
    background: #b86577;
    padding: 17px 10px;
    border-radius: 10px;
    left: 15px;
    margin: 40px auto;
    color: white;

    text-decoration: none;
    font-size: 20px;
}

.knop:hover {
    background: #c68392;

}



input[type=submit] {
    background: #b86577;
    padding: 16px 22px;
    border-radius: 10px;
    left: 15px;
    margin: 40px auto;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

input[type=submit] a:hover
{
    background: #c68392;
}

.date
{
    color: red;
}

#map
{
    width: 500px;
    height:300px;
    margin: 0 auto;
    margin-top: 100px;
}



.form
{
    font-family: Arial;
    margin-left: 20px;

}

#prijslijst
{
    margin-top:  5%;
    margin-left: 40%;
}

.socialmedia
{
    float: right;
    margin-right: 19%;
    margin-top: -13%;
}

#insta
{

    width:  50px;
    height: 50px;
}


#facebook
{

    width:  50px;
    height: 50px;
}

#prijstitel
{
    margin-top: 5%;
    margin-left: 40%;
}

